@model FileUploader.ViewModels.GymTrackerViewModel

<h1>Overview Page</h1>

<br />
<table class="standard-table">
    @foreach (var item in Model.GymTrackerList)
    {
        <tr>
            <th>Date Created</th>
            <th>Body Part</th>
            <th>Exercise</th>
            <th>Sets</th>
            <th>Reps</th>
            <th>Weights</th>
        </tr>
        <tr>
            <td>@Html.DisplayFor(m => item.DateCreated)</td>
            <td>@Html.DisplayFor(m => item.BodyPart)</td>
            <td>@Html.DisplayFor(m => item.Exercise)</td>
            <td>@Html.DisplayFor(m => item.Sets)</td>
            <td>@Html.DisplayFor(m => item.Reps)</td>
            <td>@Html.DisplayFor(m => item.Weights)</td>
        </tr>
    }
</table>
