@model BusinessLogic.Models.GymTracker
@{
    ViewBag.Title = "Create";
}

<div class="jumbotron">
    <h1>Create Record</h1>
</div>

@using (Html.BeginForm("Index", "GymTracker", FormMethod.Get))
{
    <input type="submit" class="btn btn-default" value="Back">
}
<br />
@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(m => m.DateCreated, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.DateCreated, new { htmlAttributes = new { @class = "input-color" } })
                @Html.ValidationMessageFor(m => m.DateCreated)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.BodyPart, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.BodyPart, new { htmlAttributes = new { @class = "input-color" } })
                @Html.ValidationMessageFor(m => m.BodyPart)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Exercise, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.Exercise, new { htmlAttributes = new { @class = "input-color" } })
                @Html.ValidationMessageFor(m => m.Exercise)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Reps, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.Reps, new { htmlAttributes = new { @class = "input-color" } })
                @Html.ValidationMessageFor(m => m.Reps)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Sets, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.Sets, new { htmlAttributes = new { @class = "input-color" } })
                @Html.ValidationMessageFor(m => m.Sets)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Weights, new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @Html.EditorFor(m => m.Weights, new { htmlAttributes = new { @class = "input-color" } })
                @Html.ValidationMessageFor(m => m.Weights)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default btn-lg" value="Create" />
            </div>
        </div>
    </div>
}