@model FileUploader.ViewModels.GymTrackerViewModel
@{
    ViewBag.Title = "Gym Tracker";
}

<div class="jumbotron">
    <h1>Gym Tracker Overview</h1>
</div>
@using (Html.BeginForm("UploadCSV", "Uploader", FormMethod.Get))
{
    <input type="submit" class="main-button" value="Upload CSV">
}
<br />
<table class="standard-table">
    <tr>
        <th>Date</th>
        <th>Body Part</th>
        <th>Exercise</th>
        <th>Sets</th>
        <th>Reps</th>
        <th>Weights</th>
    </tr>
    @foreach (var item in Model.GymTrackerList)
    {
        <tr>
            <td>@Html.DisplayFor(m => item.DateCreated)</td>
            <td>@Html.DisplayFor(m => item.BodyPart)</td>
            <td>@Html.DisplayFor(m => item.Exercise)</td>
            <td>@Html.DisplayFor(m => item.Sets)</td>
            <td>@Html.DisplayFor(m => item.Reps)</td>
            <td>@Html.DisplayFor(m => item.Weights)</td>
        </tr>
    }
</table>
